modelo_mamona/iter_20000.pth
modelo_mamona/segformer_mit-b0_8xb2-160k_ade20k-512x512_mamona.py
tifs/ORTO_20731_v2.tif
tifs/110002_FLOR DE MAIO - parte 1/110002_FLOR DE MAIO 01_3cm.tif
tifs/110002_FLOR DE MAIO - parte 1/110002_FLOR DE MAIO 01_3cm.tif.aux.xml
tifs/110002_FLOR DE MAIO - parte 1/110002_FLOR DE MAIO 01.cpg
tifs/110002_FLOR DE MAIO - parte 1/110002_FLOR DE MAIO 01.dbf
tifs/110002_FLOR DE MAIO - parte 1/110002_FLOR DE MAIO 01.prj
tifs/110002_FLOR DE MAIO - parte 1/110002_FLOR DE MAIO 01.qmd
tifs/110002_FLOR DE MAIO - parte 1/110002_FLOR DE MAIO 01.shp
tifs/110002_FLOR DE MAIO - parte 1/110002_FLOR DE MAIO 01.shx
tifs/110002_FLOR DE MAIO - parte 1/DANINHAS_2_110002_FLOR DE MAIO 01.cpg
tifs/110002_FLOR DE MAIO - parte 1/DANINHAS_2_110002_FLOR DE MAIO 01.dbf
tifs/110002_FLOR DE MAIO - parte 1/DANINHAS_2_110002_FLOR DE MAIO 01.prj
tifs/110002_FLOR DE MAIO - parte 1/DANINHAS_2_110002_FLOR DE MAIO 01.shp
tifs/110002_FLOR DE MAIO - parte 1/DANINHAS_2_110002_FLOR DE MAIO 01.shx
tifs/110002_FLOR DE MAIO - parte 1/FALHAS_SOLO_110002_FLOR DE MAIO 01.cpg
tifs/110002_FLOR DE MAIO - parte 1/FALHAS_SOLO_110002_FLOR DE MAIO 01.dbf
tifs/110002_FLOR DE MAIO - parte 1/FALHAS_SOLO_110002_FLOR DE MAIO 01.prj
tifs/110002_FLOR DE MAIO - parte 1/FALHAS_SOLO_110002_FLOR DE MAIO 01.shp
tifs/110002_FLOR DE MAIO - parte 1/FALHAS_SOLO_110002_FLOR DE MAIO 01.shx
tifs/110002_FLOR DE MAIO - parte 1/LINHAS_110002_FLOR DE MAIO 01.cpg
tifs/110002_FLOR DE MAIO - parte 1/LINHAS_110002_FLOR DE MAIO 01.dbf
tifs/110002_FLOR DE MAIO - parte 1/LINHAS_110002_FLOR DE MAIO 01.prj
tifs/110002_FLOR DE MAIO - parte 1/LINHAS_110002_FLOR DE MAIO 01.shp
tifs/110002_FLOR DE MAIO - parte 1/LINHAS_110002_FLOR DE MAIO 01.shx
tifs/110002_FLOR DE MAIO - parte 1/versoes-110002_FLOR DE MAIO 01.txt
tifs/110002_FLOR DE MAIO - parte 1/Classificacao daninhas para revisar/MAMONA_110002_FLOR DE MAIO 01.cpg
tifs/110002_FLOR DE MAIO - parte 1/Classificacao daninhas para revisar/MAMONA_110002_FLOR DE MAIO 01.dbf
tifs/110002_FLOR DE MAIO - parte 1/Classificacao daninhas para revisar/MAMONA_110002_FLOR DE MAIO 01.prj
tifs/110002_FLOR DE MAIO - parte 1/Classificacao daninhas para revisar/MAMONA_110002_FLOR DE MAIO 01.shp
tifs/110002_FLOR DE MAIO - parte 1/Classificacao daninhas para revisar/MAMONA_110002_FLOR DE MAIO 01.shx
tifs/110002_FLOR DE MAIO - parte 1/mask_mamona/mask_mamona.cpg
tifs/110002_FLOR DE MAIO - parte 1/mask_mamona/mask_mamona.dbf
tifs/110002_FLOR DE MAIO - parte 1/mask_mamona/mask_mamona.prj
tifs/110002_FLOR DE MAIO - parte 1/mask_mamona/mask_mamona.shp
tifs/110002_FLOR DE MAIO - parte 1/mask_mamona/mask_mamona.shx
tifs/110002_FLOR DE MAIO - parte 2/110002_FLOR DE MAIO 02_3cm.tif
tifs/110002_FLOR DE MAIO - parte 2/110002_FLOR DE MAIO 02_3cm.tif.aux.xml
tifs/110002_FLOR DE MAIO - parte 2/110002_FLOR DE MAIO 02.cpg
tifs/110002_FLOR DE MAIO - parte 2/110002_FLOR DE MAIO 02.dbf
tifs/110002_FLOR DE MAIO - parte 2/110002_FLOR DE MAIO 02.prj
tifs/110002_FLOR DE MAIO - parte 2/110002_FLOR DE MAIO 02.qmd
tifs/110002_FLOR DE MAIO - parte 2/110002_FLOR DE MAIO 02.shp
tifs/110002_FLOR DE MAIO - parte 2/110002_FLOR DE MAIO 02.shx
tifs/110002_FLOR DE MAIO - parte 2/DANINHAS_2_110002_FLOR DE MAIO 02.cpg
tifs/110002_FLOR DE MAIO - parte 2/DANINHAS_2_110002_FLOR DE MAIO 02.dbf
tifs/110002_FLOR DE MAIO - parte 2/DANINHAS_2_110002_FLOR DE MAIO 02.prj
tifs/110002_FLOR DE MAIO - parte 2/DANINHAS_2_110002_FLOR DE MAIO 02.shp
tifs/110002_FLOR DE MAIO - parte 2/DANINHAS_2_110002_FLOR DE MAIO 02.shx
tifs/110002_FLOR DE MAIO - parte 2/FALHAS_SOLO_110002_FLOR DE MAIO 02.cpg
tifs/110002_FLOR DE MAIO - parte 2/FALHAS_SOLO_110002_FLOR DE MAIO 02.dbf
tifs/110002_FLOR DE MAIO - parte 2/FALHAS_SOLO_110002_FLOR DE MAIO 02.prj
tifs/110002_FLOR DE MAIO - parte 2/FALHAS_SOLO_110002_FLOR DE MAIO 02.shp
tifs/110002_FLOR DE MAIO - parte 2/FALHAS_SOLO_110002_FLOR DE MAIO 02.shx
tifs/110002_FLOR DE MAIO - parte 2/PP_LINHAS_110002_FLOR DE MAIO 02.cpg
tifs/110002_FLOR DE MAIO - parte 2/PP_LINHAS_110002_FLOR DE MAIO 02.dbf
tifs/110002_FLOR DE MAIO - parte 2/PP_LINHAS_110002_FLOR DE MAIO 02.prj
tifs/110002_FLOR DE MAIO - parte 2/PP_LINHAS_110002_FLOR DE MAIO 02.shp
tifs/110002_FLOR DE MAIO - parte 2/PP_LINHAS_110002_FLOR DE MAIO 02.shx
tifs/110002_FLOR DE MAIO - parte 2/versoes-110002_FLOR DE MAIO 02.txt
tifs/110002_FLOR DE MAIO - parte 2/Classificacao daninhas para revisar/MAMONA_110002_FLOR DE MAIO 02.cpg
tifs/110002_FLOR DE MAIO - parte 2/Classificacao daninhas para revisar/MAMONA_110002_FLOR DE MAIO 02.dbf
tifs/110002_FLOR DE MAIO - parte 2/Classificacao daninhas para revisar/MAMONA_110002_FLOR DE MAIO 02.prj
tifs/110002_FLOR DE MAIO - parte 2/Classificacao daninhas para revisar/MAMONA_110002_FLOR DE MAIO 02.qix
tifs/110002_FLOR DE MAIO - parte 2/Classificacao daninhas para revisar/MAMONA_110002_FLOR DE MAIO 02.shp
tifs/110002_FLOR DE MAIO - parte 2/Classificacao daninhas para revisar/MAMONA_110002_FLOR DE MAIO 02.shx
tifs/110002_FLOR DE MAIO - parte 2/mask_mamona/mask_mamona.cpg
tifs/110002_FLOR DE MAIO - parte 2/mask_mamona/mask_mamona.dbf
tifs/110002_FLOR DE MAIO - parte 2/mask_mamona/mask_mamona.prj
tifs/110002_FLOR DE MAIO - parte 2/mask_mamona/mask_mamona.shp
tifs/110002_FLOR DE MAIO - parte 2/mask_mamona/mask_mamona.shx
tifs/20731_01/20731_01.cpg
tifs/20731_01/20731_01.dbf
tifs/20731_01/20731_01.prj
tifs/20731_01/20731_01.qmd
tifs/20731_01/20731_01.shp
tifs/20731_01/20731_01.shx
tifs/20731_01/DANINHAS_2_ORTO_20731_v2.cpg
tifs/20731_01/DANINHAS_2_ORTO_20731_v2.dbf
tifs/20731_01/DANINHAS_2_ORTO_20731_v2.prj
tifs/20731_01/DANINHAS_2_ORTO_20731_v2.shp
tifs/20731_01/DANINHAS_2_ORTO_20731_v2.shx
tifs/20731_01/ORTO_20731_v2.tif
tifs/20731_01/ORTO_20731_v2.tif.aux.xml
tifs/20731_01/versoes-ORTO_20731_v2.txt
tifs/20731_01/Classificacao daninhas para revisar/MAMONA_ORTO_20731_v2.cpg
tifs/20731_01/Classificacao daninhas para revisar/MAMONA_ORTO_20731_v2.dbf
tifs/20731_01/Classificacao daninhas para revisar/MAMONA_ORTO_20731_v2.prj
tifs/20731_01/Classificacao daninhas para revisar/MAMONA_ORTO_20731_v2.shp
tifs/20731_01/Classificacao daninhas para revisar/MAMONA_ORTO_20731_v2.shx
tifs/20731_01/mask_mamona/mask_mamona.cpg
tifs/20731_01/mask_mamona/mask_mamona.dbf
tifs/20731_01/mask_mamona/mask_mamona.prj
tifs/20731_01/mask_mamona/mask_mamona.shp
tifs/20731_01/mask_mamona/mask_mamona.shx
tifs/110158_SANTO ANTONIO_01/23821_35136.png
tifs/110158_SANTO ANTONIO_01/110158_SANTO ANTONIO_01_3cm.tif
tifs/110158_SANTO ANTONIO_01/110158_SANTO ANTONIO_01_3cm.tif.aux.xml
tifs/110158_SANTO ANTONIO_01/110158_SANTO ANTONIO_01.cpg
tifs/110158_SANTO ANTONIO_01/110158_SANTO ANTONIO_01.dbf
tifs/110158_SANTO ANTONIO_01/110158_SANTO ANTONIO_01.prj
tifs/110158_SANTO ANTONIO_01/110158_SANTO ANTONIO_01.qix
tifs/110158_SANTO ANTONIO_01/110158_SANTO ANTONIO_01.qmd
tifs/110158_SANTO ANTONIO_01/110158_SANTO ANTONIO_01.shp
tifs/110158_SANTO ANTONIO_01/110158_SANTO ANTONIO_01.shx
tifs/110158_SANTO ANTONIO_01/talhao_110158_SANTO ANTONIO_01_3cm.cpg
tifs/110158_SANTO ANTONIO_01/talhao_110158_SANTO ANTONIO_01_3cm.dbf
tifs/110158_SANTO ANTONIO_01/talhao_110158_SANTO ANTONIO_01_3cm.prj
tifs/110158_SANTO ANTONIO_01/talhao_110158_SANTO ANTONIO_01_3cm.shp
tifs/110158_SANTO ANTONIO_01/talhao_110158_SANTO ANTONIO_01_3cm.shx
tifs/110158_SANTO ANTONIO_01/original/110158_SANTO ANTONIO_01.cpg
tifs/110158_SANTO ANTONIO_01/original/110158_SANTO ANTONIO_01.dbf
tifs/110158_SANTO ANTONIO_01/original/110158_SANTO ANTONIO_01.prj
tifs/110158_SANTO ANTONIO_01/original/110158_SANTO ANTONIO_01.qmd
tifs/110158_SANTO ANTONIO_01/original/110158_SANTO ANTONIO_01.shp
tifs/110158_SANTO ANTONIO_01/original/110158_SANTO ANTONIO_01.shx
tifs/110158_SANTO ANTONIO_01/110158_SANTO ANTONIO_01.tif.aux.xml
tifs/110158_SANTO ANTONIO_01/mamona_all_110158_SANTO ANTONIO_01_3cm.cpg
tifs/110158_SANTO ANTONIO_01/mamona_all_110158_SANTO ANTONIO_01_3cm.dbf
tifs/110158_SANTO ANTONIO_01/mamona_all_110158_SANTO ANTONIO_01_3cm.prj
tifs/110158_SANTO ANTONIO_01/mamona_all_110158_SANTO ANTONIO_01_3cm.shp
tifs/110158_SANTO ANTONIO_01/mamona_all_110158_SANTO ANTONIO_01_3cm.shx
